DJANGO_SECRET_KEY=hamsk3za
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver,asadmirza44-smart-crop-ai.hf.space
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://asadmirza44-smart-crop-ai.hf.space
DJANGO_MEDIA_ROOT=
MYSQL_DB=
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
